<div id="glide-page-main" class="glide-page">
  <div class="d-flex justify-content-start align-items-start flex-wrap h-100">
      
    <div class="container mt-5">
      <div class="row mb-5 text-light">
        <div class="col-3 pr-0">
          <input class="form-control border border-info text-white pl-2" placeholder="interval (seconds)" type="number" value="60" onchange="timer_speed = this.value">
        </div>
        <div class="col-9">
          <button id="timer-button" onclick="toggleTimer()" class="btn border border-info text-white float-right">
            <span class="material-icons">schedule</span>
          </button>
          <button onclick="addSite()" class="btn border border-success text-white float-right mr-3">
            <span class="material-icons">add</span>
          </button>
        </div>
      </div>

      <div class="row text-light">
        <div class="col-1"></div>
        <div class="col-4">url</div>
        <div class="col-1">ping</div>
        <div class="col-2">avg ping</div>
        <div class="col-2">size</div>
        <div class="col-1">status</div>
        <div class="col-1"></div>
      </div>

      <div id="request-list"></div>
    </div>

  </div>
</div>