html, body { margin:0;padding:0 }

@media (min-width: 992px) {
  .container {
    max-width: 1300px;
  }
}

.bg-dark-4 {
  background-color: #2d2b31 !important;
}

.small-text {
  font-size: 16px;
}

.glide-page {
  width: 100%;
  height: calc(100% - 20px);
  background-color: #202124;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

colourblock {
  display:block;
  height:20px;
  width:20px
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: grey !important;
}

@keyframes rotate {
  0% {transform:rotate(0deg)}
  100% {transform:rotate(360deg)}
}

.rotate {
  animation: 5s rotate linear infinite
}